name: tests

on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[dev]
      - name: Run tests
        run: pytest
      - name: Format check
        run: ruff format --check yamu tests
      - name: Lint
        run: ruff check yamu tests
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[docs]
      - name: Build docs
        run: |
          sphinx-build -b html docs docs/_build/html
